<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-e4//quiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home_style.css">
    <script src="https://kit.fontawesome.com/6f0f83005a.js" crossorigin="anonymous"></script>
    <title>Meet</title>
</head>
<body>
    <div id="header"><h1>Video-Meet</h1></div>
    <div id="root-div">
        <div id="left-div">
            <div id="large-message">
                 Solution for online Education<br/> 
                Now for everyone.
            </div>

            <div id="small-message">
                Npw we have a software which can be used as a online medium for classes, video Meet,available for all.
            </div>

            <div id="new-meeting-root">
                <div id="start-meeting">
                    <a href="/room">&emsp;<i class="fas fa-plus"></i>&nbsp;
                    New Meeting</a>
                </div>

                <div id="enter-meeting-link">
                    <i class="fas fa-keyboard"></i>
                    <input type="text" name="link" placeholder="Enter meeting link" id="meeting-link-text-box">
                </div>
                <div id="join-button">Join</div>
            </div>
        </div>

        <div id="right-div">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fksac.kiit.ac.in%2Fblog%2F10-ways-to-cope-up-with-online-classes%2F&psig=AOvVaw36D05TePO8jPrK6eCwl_Jm&ust=1679699424799000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCODdrI6W8_0CFQAAAAAdAAAAABAE">
        </div>
        
    </div>
</body>
</html>

<script>
    document.getElementById('join-button').addEventListener('click', function() {
        let input = document.getElementById('meeting-link-text-box').value;
        window.location.assign(input);
        document.getElementById('meeting-link-text-box').value = "";
    });
</script>
